<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ project.name }} - Visualização</title>
    <style>
        body, html { margin: 0; padding: 0; height: 100%; overflow: hidden; }
        iframe { width: 100%; height: 100%; border: none; }
    </style>
</head>
<body>
    <iframe id="preview-frame" data-project="{{ project|tojson|forceescape }}"></iframe>

    <script>
        const previewFrame = document.getElementById('preview-frame');

        const projectJson = previewFrame.dataset.project;
        
        const project = JSON.parse(projectJson);

        const previewDoc = previewFrame.contentDocument || previewFrame.contentWindow.document;

        previewDoc.open();
        previewDoc.write(`
            <!DOCTYPE html>
            <html>
            <head>
                <style>${project.css}</style>
            </head>
            <body>
                ${project.html}
                <script>
                     ${project.js}
                </script>
            </body>
            </html>
        `);
        previewDoc.close();
    </script>
</body>
</html>